.post {
    width: 200px;
}

main{
    width: 1600px;
    height: auto;
    margin: auto;
    background-color: white;
}

.twit_section{
    width: 1200px;
    height: auto;
    margin: auto;
}

.twit{
    width: 600px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    border: solid;
}

.twit_page{
 width: 50%;
}

.twit_date{
    width: 50%;
}

.twit_content{

}