body {
    background: #aaa;
    margin: 0;
}

aside {
    float: left;
    background: #474646;
    width: 20%;
    padding: 2.5%;
    height: 20vh;
    color: #fff;
}

aside h3 {
    font-size: 20px;
}

main {
    margin-left: 30%;
}

main h1 {
    margin: 0;
    padding-top: 10px;
}